<mat-toolbar color="primary">
  <div class="content-menu">
    <div></div>
    <div class="content-options">
      <button [routerLink]="['./Strings']" class="button-style" mat-button>Cuerdas</button>
      <button [routerLink]="['./Percussion']" class="button-style" mat-button>Percusion</button>
      <button [routerLink]="['./Keyboards']" class="button-style" mat-button>Teclados y Pianos</button>
      <button [routerLink]="['./Accesories']" class="button-style" mat-button>Accesorios</button>
      <button [routerLink]="['./Audio']" class="button-style" mat-button>Audio</button>
      <span class="example-spacer"></span>
    </div>

    <div class="content-end">
      <button mat-icon-button>
        <mat-icon>shopping_cart</mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>

<div *ngFor="let item of articlesList">
  <app-gen-card-product [data]="item"></app-gen-card-product>
</div>
