<h1>Carrito</h1>
<mat-list>
  <mat-list-item *ngFor="let item of dataSource">
    <mat-icon mat-list-icon>shopping_cart</mat-icon>
    <div mat-line>{{item.id}} - {{item.description}} </div>
    <div><button (click)="eliminate(item.id)" mat-raised-button color="warn">Eliminar</button></div>
    <div mat-line>Precio: ${{item.price}}</div>
    <mat-divider></mat-divider>
  </mat-list-item>
</mat-list>
<br>
<button *ngIf="holow" (click)="pay()" style="float: right; margin-right: 20px;" mat-raised-button color="accent">Pagar</button>
<h2 *ngIf="!holow">No se encontraron resultados</h2>
